/* Global styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* :root applies to everything */
:root { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}